.profile{

    padding-top: 3rem;

}
.profile-title{
    font-size: 2rem;
    font-weight: bold;

    padding-left: 20%;
}
.profile-text{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4rem;
    position: relative;
}

.profile-border-right{
    position: absolute;
    width: 5rem;
    height: 5rem;
    right: 20%;
    top: -1rem;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #1e2f4a;
    border-right: solid 3px #1e2f4a;
    -webkit-transform: rotate(180deg) translateY(50%);
    transform: rotate(0deg) translateY(50%) translateX(30px);
}

.profile-border-left{
    position: absolute;
    width: 5rem;
    height: 5rem;
    left: 20%;
    
    bottom: -5rem;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #1e2f4a;
    border-right: solid 3px #1e2f4a;
    -webkit-transform: rotate(0deg) translateY(50%);
    transform: rotate(180deg) translateY(50%) translateX(30px);
}

.profile-button{
    display: flex;
    margin: 0 0 0 auto;
}

.profile-button-place{
    display: flex;
    margin: 0 0 0 auto;
    padding-top: 4.3rem;
    padding-right: 20%;
    padding-bottom: 3rem;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.btn,
a.btn,
button.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-flat {
  overflow: hidden;

 /* padding: 1.5rem 6rem;*/

  color: #fff;
  border-radius: 0;
  background: #202020;;

  border-radius:30px;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 500%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);

  background: #60B3FF;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.profile-bottom-border{
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    border-color: #1e2f4a;
    border-bottom-style: solid;
    border-bottom-width: 0.2rem;
}

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 5%;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 23%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: #ccc;
  z-index: -1;
}

.timeline-item {
  position: relative;
  width: 100%;
  margin-left: 20%;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: #ccc;
}

.timeline-icon {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  background-color: #1e2f4a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.timeline-content {
  background-color: #f5f5f5;
  margin: 45px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  width: 60%;
}

.timeline-content .date {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.timeline-content h3 {
  margin: 0;
  font-size: 1.5em;
}
@media (max-width: 500px) {  
  .profile-text{
    padding-top: 4rem;
    padding-left: 10%;
    padding-right: 10%;
}

.profile-border-right{
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: 10%;
  top: -1rem;
  z-index: 10;
  cursor: pointer;
  border-top: solid 2px #1e2f4a;
  border-right: solid 2px #1e2f4a;
  -webkit-transform: rotate(180deg) translateY(50%);
  transform: rotate(0deg) translateY(50%) translateX(30px);
}

.profile-border-left{
  position: absolute;
  width: 4rem;
  height: 4rem;
  left: 10%;
  
  bottom: -5rem;
  z-index: 10;
  cursor: pointer;
  border-top: solid 2px #1e2f4a;
  border-right: solid 2px #1e2f4a;
  -webkit-transform: rotate(0deg) translateY(50%);
  transform: rotate(180deg) translateY(50%) translateX(30px);
}

.profile-bottom-border{
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  border-color: #1e2f4a;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
}
.profile-title{
  font-size: 2rem;
  font-weight: bold;

  padding-left: 10%;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 14%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: #ccc;
  z-index: -1;
}

.timeline-item {
  position: relative;
  width: 100%;
  margin-left: 10%;
}

.timeline-content {
  background-color: #f5f5f5;
  margin: 45px 25px 45px 45px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  width: 70%;
}
}