html {
    height: 100%;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFFEF8;
    
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

    color: #202020;
}
header {
    width: 100%;
}
footer {
    position: sticky;
    top: 100vh;
    width: 100%;
    
    text-align: center;
    line-height: 3.3rem;

    background-color: #1e2f4a;
    color: #FFFEF8;
}

a{
    text-decoration: none;
    color: #202020;
}

/*↓divの要素達*/
.first_contact_div{

    padding-top: 1.2rem;

    text-align: center;
    font-size: 1.2rem;
    

}
.first_contact_text{
    display: inline-block;
    text-align: left;
}

::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #727981;
  }
  
  ::-webkit-scrollbar-track {
    background: #FFFEF8;
  }

  .icon-home{
    position:absolute;
    width: 1.5rem;
    height: 1.5rem;

    left: -1.7rem;
    

    padding-right: 0.3rem;
}
  .icon-profile{
    position:absolute;
    width: 1.5rem;
    height: 1.5rem;

    left: -1.7rem;
    

    padding-right: 0.3rem;
  }
  .icon-works{
    position:absolute;
    width: 1.4rem;
    height: 1.4rem;

    left: -1.7rem;
    top: 0.1rem;

    padding-right: 0.3rem;
  }

    .icon-profile-home{
        width: 2rem;
        height: 2rem;
    }

    .icon-work-home{
        width: 2rem;
        height: 2rem;
        
    }

    .icon-contact-home{
        width: 2rem;
        height: 2rem;

    }

  .button-container {
    position: fixed; /* ボタンを画面に固定 */
    bottom: 55px; /* 画面下部からの距離を指定 */
    right: 25px; /* 画面右からの距離を指定 */
    z-index: 10;
  }
  
  .round-button {
    width: 7.5rem; /* ボタンの幅を指定 */
    height: 7.5rem; /* ボタンの高さを指定 */
    border-radius: 50%; /* ボタンを丸くする */
    background-color: #1e2f4a; /* ボタンの背景色を指定 */
    color: #FFFFFF; /* ボタンのテキスト色を指定 */
    border: none; /* ボタンの境界線をなしにする */
    font-size: 3rem; /* ボタンのテキストの大きさを指定 */
    cursor: pointer; /* マウスがボタン上にある場合はポインターを変更 */
    outline: none; /* ボタンをクリックしたときにアウトラインを削除 */
    transition: 0.3s;

  }

  .round-button:hover {
    width: 8rem; /* ボタンの幅を指定 */
    height: 8rem; /* ボタンの高さを指定 */
    border-radius: 50%; /* ボタンを丸くする */
    background-color: #1e2f4a; /* ボタンの背景色を指定 */
    color: #FFFFFF; /* ボタンのテキスト色を指定 */
    border: none; /* ボタンの境界線をなしにする */
    font-size: 3rem; /* ボタンのテキストの大きさを指定 */
    cursor: pointer; /* マウスがボタン上にある場合はポインターを変更 */
    outline: none; /* ボタンをクリックしたときにアウトラインを削除 */
    

  }

  .move-top{
    padding-left: 1.2rem;
  }

.responsive-img {
  max-width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  max-height: 640px;
  object-fit: contain;
  
}

.responsive-img-slide {
  width: 100%; 
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

@media (max-width: 500px) {  

  body {
    font-size: 14px; /* さらに小さめのフォントサイズ */
  }

  .first_contact_div{
    font-size: 0.9rem;
  }

  .round-button {
    width: 5.5rem; /* ボタンの幅を指定 */
    height: 5.5rem; /* ボタンの高さを指定 */
    border-radius: 50%; /* ボタンを丸くする */
    background-color: #1e2f4a; /* ボタンの背景色を指定 */
    color: #FFFFFF; /* ボタンのテキスト色を指定 */
    border: none; /* ボタンの境界線をなしにする */
    font-size: 2rem; /* ボタンのテキストの大きさを指定 */
    cursor: pointer; /* マウスがボタン上にある場合はポインターを変更 */
    outline: none; /* ボタンをクリックしたときにアウトラインを削除 */
    transition: 0.3s;

  }
  .round-button:hover {
    width: 6rem; /* ボタンの幅を指定 */
    height: 6rem; /* ボタンの高さを指定 */
    border-radius: 50%; /* ボタンを丸くする */
    background-color: #1e2f4a; /* ボタンの背景色を指定 */
    color: #FFFFFF; /* ボタンのテキスト色を指定 */
    border: none; /* ボタンの境界線をなしにする */
    font-size: 2rem; /* ボタンのテキストの大きさを指定 */
    cursor: pointer; /* マウスがボタン上にある場合はポインターを変更 */
    outline: none; /* ボタンをクリックしたときにアウトラインを削除 */
    

  }
  .move-top{
    padding-left: 0.6rem;
  }

    .button-container {
    position: fixed; /* ボタンを画面に固定 */
    bottom: 20px; /* 画面下部からの距離を指定 */
    right: 25px; /* 画面右からの距離を指定 */
    z-index: 10;
  }
  
}