.works-detail-title{
    padding-top: 3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.works-detail-genre{
    padding-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.works-detail-text{
    padding-top: 4rem;
    padding-left: 20%;
    padding-right: 20%;
}

.button-container-undo {
    position: fixed; /* ボタンを画面に固定 */
    bottom: 55px; /* 画面下部からの距離を指定 */
    left: 25px; /* 画面右からの距離を指定 */
    z-index: 10;
  }
  
  .round-button-undo {
    width: 7.5rem; /* ボタンの幅を指定 */
    height: 7.5rem; /* ボタンの高さを指定 */
    border-radius: 50%; /* ボタンを丸くする */
    background-color: #1e2f4a; /* ボタンの背景色を指定 */
    color: #FFFFFF; /* ボタンのテキスト色を指定 */
    border: none; /* ボタンの境界線をなしにする */
    font-size: 3rem; /* ボタンのテキストの大きさを指定 */
    cursor: pointer; /* マウスがボタン上にある場合はポインターを変更 */
    outline: none; /* ボタンをクリックしたときにアウトラインを削除 */

    transition: 0.3s;
  }

  .round-button-undo:hover {
    width: 8rem; /* ボタンの幅を指定 */
    height: 8rem; /* ボタンの高さを指定 */
    border-radius: 50%; /* ボタンを丸くする */
    background-color: #1e2f4a; /* ボタンの背景色を指定 */
    color: #FFFFFF; /* ボタンのテキスト色を指定 */
    border: none; /* ボタンの境界線をなしにする */
    font-size: 3rem; /* ボタンのテキストの大きさを指定 */
    cursor: pointer; /* マウスがボタン上にある場合はポインターを変更 */
    outline: none; /* ボタンをクリックしたときにアウトラインを削除 */
  }

  .move-undo{
    padding-left: 2rem;
  }

  .works-center{
    position: absolute;
    left: 50%; /* テキストの左にオフセット */
    padding-top: 5rem;
    transform: translate(-50%,-50%);
  }
/* グリッドレイアウト */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
  justify-content: center; /* グリッド全体を中央揃え */

  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.grid-item {
  cursor: pointer;
  display: flex;
  justify-content: center; /* 画像を中央に配置 */
  align-items: center;
}

.grid-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1; /* 正方形にする */
  object-fit: cover; /* 縦横比を保ったまま、画像が切り取られる */
  object-position: center; /* 画像の中央を基準に切り取る */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.grid-image:hover {
  transform: scale(1.05);
}

/* モーダルのスタイル */
.modal {
  display: none;
  position: fixed;
  z-index: 15;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

#caption {
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 20px;
}
