.footer{
    border-top-width: 1.5px;
    border-top-style:solid;
    border-color: rgb(247, 255, 255);
    line-height:  3.3rem;
    font-weight: bold;

    margin-top: 50px;

    text-align: center;
    width: 100%;

    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}


@media (max-width: 500px) {  
    .footer{
       font-size : 13px;
    }

}