.dtm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.dtm_title{
    font-size: 32px;
    font-weight: bold;
    margin-top: 80px;
}
.dtm_using{
    font-size: 32px;
    font-weight: bold;
    margin-top: 60px;
}

.dtm_grid{
    display: grid;
    justify-content: center;
    margin-top: 30px;
    grid-template-columns: 140px 80px 250px;
    margin-left: var(--body_margin_width);
    margin-right: var(--body_margin_width);


    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.itemdtm{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
}
.item_qes{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: center;

    margin-top: 15px;
    font-size: 24px;
}
.item_ans{
    grid-row: 1;
    grid-column: 3;
    display: flex;
    justify-content: center;

    margin-top: 15px;
    font-size: 24px;
}

.dtm_works_grid{
    display: grid;
    justify-content: center;
    margin-top: 100px;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 180px 180px 180px;
    margin-left: var(--body_margin_width);
    margin-right: var(--body_margin_width);

    font-weight: bold;
}

.item1{
    grid-row: 1;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
}
.item2{
    grid-row: 1;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}
.item3{
    grid-row: 1;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
}
.item4{
    grid-row: 3;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
}
.item5{
    grid-row: 3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}
.item6{
    grid-row: 3;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
}



@media (max-width: 500px) {  
    .dtm_grid{
        grid-template-columns: 100px 75px 150px;
    }

    .item_qes{
        margin-top: 20px;
        font-size: 16px;
    }
    .item_ans{
        margin-top: 20px;
        font-size: 16px;
    }


    .dtm_works_grid{
        grid-template-columns: 120px 120px 120px;
    }
}