.pg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.pg_title{
    font-size: 32px;
    font-weight: bold;
    margin-top: 80px;
}
.pg_using{
    font-size: 32px;
    font-weight: bold;
    margin-top: 40px;
}

.pg_grid{
    display: grid;
    justify-content: center;
    margin-top: 30px;
    grid-template-columns: 190px 30px 190px;
    margin-left: var(--body_margin_width);
    margin-right: var(--body_margin_width);

    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.itemunity{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
}
.itemweb{
    grid-row: 1;
    grid-column: 3;
    display: flex;
    justify-content: center;
}

.pg_works_grid{
    display: grid;
    justify-content: center;
    margin-top: 30px;
    /*grid-template-columns: 450px  400px;*/
    grid-template-columns: 50% 30px 50%;
    margin-left: var(--body_margin_width);
    margin-right: var(--body_margin_width);
}
.pg_works_img{
    width: 100%;
    height: fit-content;
}


.item_work_img_1{
    grid-column: 1;
    display: flex;
    justify-content: center;
}



.item_work_text_1{
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.item_work_img_2{
    grid-column: 1;
    display: flex;
    justify-content: center;
}



.item_work_text_2{
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pg_works_letter{
    margin-top: 10px;
}

@media (max-width: 500px) {  
    .pg_grid{
        grid-template-columns: 150px 0px 150px;
    }

    .itemweb{
        font-size: 12.5px;
    }

    .pg_works_grid{
        grid-template-rows: 50% 30px 50%;
    }

    

.item_work_img_1{
    grid-row: 1;
    display: flex;
    justify-content: center;
}



.item_work_text_1{
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.item_work_img_2{
    grid-row: 1;
    display: flex;
    justify-content: center;
}



.item_work_text_2{
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
}