.movie{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.movie_title{
    font-size: 32px;
    font-weight: bold;
    margin-top: 80px;
}
.movie_using{
    font-size: 32px;
    font-weight: bold;
    margin-top: 60px;
}

.movie_grid{
    display: grid;
    justify-content: center;
    margin-top: 30px;
    margin-left: var(--body_margin_width);
    margin-right: var(--body_margin_width);

    grid-template-columns: 180px 180px 180px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.itemdavinci{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: center;
}


.movie_works_grid{
    display: grid;
    justify-content: center;
    margin-top: 100px;
    grid-template-rows: 140px 100px 140px;
    grid-template-columns: 280px 280px 280px;
    margin-left: var(--body_margin_width);
    margin-right: var(--body_margin_width);

    font-weight: bold;
}

.item1{
    grid-row: 1;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    
}
.item2{
    grid-row: 1;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}
.item3{
    grid-row: 1;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
}
.item4{
    grid-row: 3;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
}
.item5{
    grid-row: 3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}
.item6{
    grid-row: 3;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
}


@media (max-width: 500px) {  


    .movie_works_grid{
        margin-top: 70px;
        grid-template-rows: 80px 100px 80px 100px 80px;
        grid-template-columns: 120px 50px 120px;
    }

    .item1{
        grid-row: 1;
        grid-column: 1;
        display: flex;
        justify-content: center;
    }
    .item2{
        grid-row: 1;
        grid-column: 3;
        display: flex;
        justify-content: center;
    }
    .item3{
        grid-row: 3;
        grid-column: 1;
        display: flex;
        justify-content: center;
    }
    .item4{
        grid-row: 3;
        grid-column: 3;
        display: flex;
        justify-content: center;
    }
    .item5{
        grid-row: 5;
        grid-column: 1;
        display: flex;
        justify-content: center;
    }
    .item6{
        grid-row: 5;
        grid-column: 3;
        display: flex;
        justify-content: center;
    }

    a.media_movie_icon::after {
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        bottom: 0px;
        transform: scale(0, 1);
        transform-origin: right top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
        transition: transform 0.3s;  /*変形の時間*/
        }
        
        a.media_movie_icon:hover::after {
        transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
        transform-origin: left top; /*左から右に向かう*/
    }
}