.illust{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.illust_title{
    font-size: 32px;
    font-weight: bold;
    margin-top: 80px;
}
.illust_using{
    font-size: 32px;
    font-weight: bold;
    margin-top: 60px;
}

.illust_grid{
    display: grid;
    justify-content: center;
    margin-top: 30px;
    grid-template-columns: 190px 20px 80px 250px;
    margin-left: var(--body_margin_width);
    margin-right: var(--body_margin_width);

    font-weight: bold;

    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.itemtablet{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
}
.item_qes{
    grid-row: 1;
    grid-column: 3;
    display: flex;
    justify-content: center;

    margin-top: 30px;
    font-size: 24px;
}
.item_ans{
    grid-row: 1;
    grid-column: 4;
    display: flex;
    justify-content: center;

    margin-top: 30px;
    font-size: 24px;
}

.illust_works_grid{
    display: grid;
    justify-content: center;
    margin-top: 20px;
    grid-template-rows: 180px 20px 180px;
    grid-template-columns: 180px 180px 180px;
    margin-left: var(--body_margin_width);
    margin-right: var(--body_margin_width);

    font-weight: bold;
}

.item1{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
}
.item2{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: center;
}
.item3{
    grid-row: 1;
    grid-column: 3;
    display: flex;
    justify-content: center;
}
.item4{
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-content: center;
}
.item5{
    grid-row: 3;
    grid-column: 2;
    display: flex;
    justify-content: center;
}
.item6{
    grid-row: 3;
    grid-column: 3;
    display: flex;
    justify-content: center;
}


.illust1_icon{
    object-view-box: inset(250px 850px 1900px 400px);
    border-radius:50%;
}
.illust2_icon{
    object-view-box: inset(100px 350px 2500px 700px);
    border-radius:50%;
}
.illust3_icon{
    object-view-box: inset(100px 450px 2700px 450px);
    border-radius:50%;
}
.illust4_icon{
    object-view-box: inset(200px 750px 2400px 150px);
    border-radius:50%;
}
.illust5_icon{
    object-view-box: inset(100px 850px 2000px 300px);
    border-radius:50%;
}

.illust6_icon{
    object-view-box: inset(100px 650px 1500px 100px);
    border-radius:50%;
}
.illust7_icon{
    object-view-box: inset(250px 750px 2000px 400px);
    border-radius:50%;
}
.illust8_icon{
    object-view-box: inset(350px 350px 1500px 550px);
    border-radius:50%;
}
.illust9_icon{
    object-view-box: inset(100px 250px 1300px 450px);
    border-radius:50%;
}
.illust10_icon{
    object-view-box: inset(250px 450px 1400px 250px);
    border-radius:50%;
}
.illust11_icon{
    object-view-box: inset(200px 350px 1800px 800px);
    border-radius:50%;
}

.illust12_icon{
    object-view-box: inset(0px 400px 2000px 750px);
    border-radius:50%;
}



@media (max-width: 500px) {  
    .illust_grid{
        grid-template-columns: 100px 30px 55px 150px;
    }

    .item_qes{
        margin-top: 20px;
        font-size: 16px;
    }
    .item_ans{
        margin-top: 20px;
        font-size: 16px;
    }

    .media_img{
        width: 130px;
    }

    .illust_works_grid{
        grid-template-rows: 150px 0px 150px;
        grid-template-columns: 120px 120px 120px;
    }
}

@media (min-width: 1500px){
    .img_size{
        width: 100%;
        height: auto;
    }
}